/* TODO: Make it awesome */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	letter-spacing: 1.2px;
	line-height: 1.5;
}

body header {
	width: 100%;
	height: 50px;
	background-color: rgb(247, 112, 34);
	display: flex;
	justify-content: space-between;
}

nav ul {
	margin-top: .5rem;
	margin-right: 1rem;
}

nav ul li a:hover {
	color: lawngreen;
}

body header h1 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2.5rem;
	font-style: oblique;
	color: indigo;
	margin-left: 1rem;
	margin-top:.75rem;
}

main header h1 {
	font-size: 1rem;
	margin-left: 2.5rem;
}

main {
	background-color: rgba(94, 94, 196, 0.541);
	width: 100%;
	height: 666px;
}

ol {
	margin-left: 1rem;
	margin-top: 1rem;
}

.card header h1 {
	font-size: 1.5rem;
}

#catalog {
	font-size: larger;
	font-weight: bold;
	font-style: italic;
	margin-top: 1rem;
	margin-left: 1rem;
}

legend {
	font-size: x-large;
	margin-bottom: .25rem;
}

#cartContents {
	margin-left: 1rem;
	margin-top: .25rem
}

#items:focus {
background-color: rgba(126, 252, 0, 0.692);
}

fieldset [value^="Add To Cart"] {
	background-color: lavender;
	padding: 3px;
}

fieldset [value^="Add To Cart"]:hover {
	background-color: lawngreen;
}

#cart-container {
	margin-left: 1rem;
	padding: 5px;
	color: indigo
}

footer {
	width: 100%;
	height: 75px;
	background-color: rgb(247, 112, 34);
	color: indigo;
	font-size: larger;
	padding-left: 10px;
	padding-top: 10px;
}
